* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}

.container {
  background: #fff7ed;
  width: 550px;
  margin: auto;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background: #fff7ed;
}

header a:hover {
  text-decoration: underline;
}

.title {
  text-decoration: none;
  font-weight: 900;
  font-size: 25.3531px;
  line-height: 40px;
  color: #000000;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #4d4d4d;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 65px 30px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.46),
      rgba(0, 0, 0, 0.46)
    ),
    url(./assets/images/home-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.home-text {
  margin-top: -4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.home-link {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #ff8c38;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 50px;
}

.about-pic {
  width: 100%;
  height: 100%;
}

.about-title {
  margin-top: 48px;
  margin-inline: 25px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #161616;
}

.about-text {
  margin-inline: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #161616;
  display: flex;
  flex-direction: column;
}

.about-van {
  margin-top: 50px;
  margin-inline: 25px;
  padding: 32px 37px;
  background: #ffcc8d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-van-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #161616;
}

.about-van-link {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #161616;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 24px;
  color: #ffffff;
}

.vans-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 25px;
  padding-bottom: 75px;
  background: #fff7ed;
}

.vans-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #161616;
}

.vans-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
}

.vans-filter > a:hover {
  text-decoration: underline;
}

.vans-filter-btns {
  display: flex;
  gap: 25px;
}

.van-type-clear-filters {
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #4d4d4d;
  cursor: pointer;
}
.van-type-clear-filters:hover {
  text-decoration: underline;
}

.all-vans {
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  gap: 38px;
  margin-top: 50px;
}

.van a {
  text-decoration: none;
}

.van-image {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

.van-name-price {
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.van-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #161616;
}

.van-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #161616;
}

.van-day {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  color: #161616;
}

.van-type {
  width: 100px;
  height: 35px;
  background: #ffead0;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
}

.van-type:hover {
  cursor: pointer;
  color: #ffead0;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-details-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 25px;
  padding-bottom: 75px;
  background: #fff7ed;
}

.van-details-back-link {
  font-weight: 500;
  font-size: 15.9462px;
  line-height: 23px;
  text-decoration: none;
  color: #201f1d;
  margin-bottom: 30px;
}

.van-details-back-link:hover {
  text-decoration: underline;
}

.van-details-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
}

.van-details-name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #161616;
}

.van-details-price-day {
  margin-top: -17px;
}

.van-details-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #161616;
}
.van-details-day {
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  color: #161616;
}

.van-details-description {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}

.van-details-btn {
  margin-top: 15px;
  height: 50px;
  background: #ff8c38;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.host-nav {
  padding: 30px 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #4d4d4d;
  gap: 30px;
}

.host-nav a:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #161616;
}

footer {
  height: 70px;
  background: #252525;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: #aaaaaa;
}

.host-vans-page {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  padding-bottom: 50px;
}

.host-vans-page-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #161616;
  margin-bottom: 30px;
}

.host-vans {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 15px 20px;
  gap: 15px;
  cursor: pointer;
}

.host-vans-component a {
  text-decoration: none;
}

.host-vans-img {
  width: 65px;
  height: 65px;
  border-radius: 5px;
}

.host-vans-detail {
  display: flex;
  flex-direction: column;
}

.host-vans-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #161616;
}

.host-vans-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #4d4d4d;
}

.host-vans-details {
  background: white;
  padding: 25px 20px;
  gap: 20px;
}

.host-van-details-common {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.host-vans-details > nav {
  font-weight: 500;
  font-size: 16.1492px;
  line-height: 21px;
  color: #4d4d4d;
}

.host-vans-details > nav a:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: underline;
  color: #161616;
}

.host-vans-details-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.host-vans-details-name {
  margin-top: 15px;
  font-weight: 700;
  font-size: 26.0583px;
  line-height: 27px;
  color: #161616;
}

.host-vans-details-price {
  font-weight: 700;
  font-size: 19.5437px;
  line-height: 36px;
  color: #161616;
}

.host-vans-details-day {
  font-weight: 500;
  font-size: 16.2864px;
  line-height: 36px;
  color: #161616;
}

.host-van-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #161616;
}
.host-van-info > div {
  margin-bottom: 10px;
}

.host-van-info div > span {
  font-weight: 700;
}

.host-van-pricing {
  padding-block-start: 30px;
  padding-block-end: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #4d4d4d;
}

.host-van-pricing div > span {
  font-size: 24px;
  font-weight: 700;
}

.host-van-photos {
  padding-block-start: 30px;
}

.host-van-photos > img {
  width: 110px;
  border-radius: 5px;
}

.not-found-page {
  padding: 100px 25px;
}

.not-found-page > h1 {
  max-width: 400px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #161616;
}

.not-found-page-link {
  width: 100%;
  height: 50px;
  background: #161616;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

.error-page {
  padding: 50px 25px;
}
